<mat-toolbar color="primary" class="app-header">
  <span>
    {{title}}
  </span>
</mat-toolbar>
<div class="content">
  <div>
    <table mat-table
           [dataSource]="links"
           class="mat-elevation-z8">
      <ng-container matColumnDef="source">
        <th mat-header-cell
            *matHeaderCellDef> Easy Link Name </th>
        <td mat-cell *matCellDef="let element; index as i">
          <div *ngIf="!isEditingSource[i]">
            <a mat-button
              color="primary"
              href="http://localhost:8080/{{element.source}}"
              target="_blank">
              {{element.source}}
            </a>
            <button mat-icon-button color="primary" (click)="setSourceEdit(i)">
              <mat-icon>edit</mat-icon>
            </button>
          </div>
          <div *ngIf="isEditingSource[i]">
            <mat-form-field>
              <input matInput
                    #editSource
                    [value]="element.source">
                <button matSuffix
                        (click)="updateSource(i, element.source, editSource.value)"
                        color="primary"
                        mat-icon-button>
                  <mat-icon>check</mat-icon>
                </button>
                <button matSuffix
                        (click)="setSourceEdit(i)"
                        color="accent"
                        mat-icon-button>
                  <mat-icon>clear</mat-icon>
                </button>
              </mat-form-field>
          </div>
        </td>
      </ng-container>
      <ng-container matColumnDef="dest">
        <th mat-header-cell *matHeaderCellDef> URL </th>
        <td mat-cell *matCellDef="let element; index as i;">
          <div *ngIf="!isEditingDest[i]">
            <a mat-button
               color="accent"
               href="//{{element.dest}}"
               target="_blank">
               {{element.dest}}
            </a>
            <button mat-icon-button color="primary" (click)="setDestEdit(i)">
              <mat-icon>edit</mat-icon>
            </button>
          </div>
          <div *ngIf="isEditingDest[i]">
            <mat-form-field>
              <input matInput
                     #editDest
                     [value]="element.dest">
              <button matSuffix
                      (click)="updateLink(i, element.source, editDest.value)"
                      color="primary"
                      mat-icon-button>
                <mat-icon>check</mat-icon>
              </button>
              <button matSuffix
                      (click)="setDestEdit(i)"
                      color="accent"
                      mat-icon-button>
                <mat-icon>clear</mat-icon>
              </button>
            </mat-form-field>
          </div>
        </td>
      </ng-container>
      <ng-container matColumnDef="delete">
        <th mat-header-cell *matHeaderCellDef> Delete </th>
        <td mat-cell *matCellDef="let element">
          <button mat-icon-button color="primary" (click)="deleteLink(element.source)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
  <button class="add-button"
          (click)="openCreateDialog()"
          mat-fab color="primary">
    <mat-icon>add</mat-icon>
  </button>
</div>