.content {
    margin-top: 25px;
    padding-left: 25px;
    padding-right: 25px;
}

form {
    max-width: 600px;
    width: 60%;
}

mat-form-field {
    width: 100%;
}

table {
    margin: auto;
    width: 80%;
}

.add-button {
    position: absolute;
    right: 30px;
    bottom: 30px;
}