<mat-toolbar color="primary" class="app-header">
  <span>
    {{title}}
  </span>
</mat-toolbar>
<div class="content">
  <h2>Create a new easy link</h2>
  <form>
    <mat-form-field>
      <input matInput #createSource [placeholder]="placeholderSource" />
    </mat-form-field>
    <mat-form-field>
      <input matInput #createDest [placeholder]="placeholderDest" />
    </mat-form-field>
    <button mat-raised-button color='primary' (click)="createLink(createSource.value, createDest.value)">Create</button>
  </form>
  <h2>Update an existing easy link</h2>
  <form>
    <mat-form-field>
      <input matInput #updateSource type='textbox' [placeholder]="placeholderSource" />
    </mat-form-field>
    <mat-form-field>
      <input matInput #updateDest type='textbox' [placeholder]="placeholderDest" />
    </mat-form-field>
    <button mat-raised-button color='primary' (click)="updateLink(updateSource.value, updateDest.value)">Update</button>
  </form>
  <br />
  <br />
  <div>
    <table mat-table [dataSource]="links" class="mat-elevation-z8">
      <ng-container matColumnDef="source">
        <th mat-header-cell *matHeaderCellDef> Easy Link Name </th>
        <td mat-cell *matCellDef="let element">
          <a href="http://localhost:8080/{{element.source}}" target="_blank">{{element.source}}</a>
        </td>
      </ng-container>
      <ng-container matColumnDef="dest">
        <th mat-header-cell *matHeaderCellDef> URL </th>
        <td mat-cell *matCellDef="let element">
          <a href="http://{{element.dest}}" target="_blank">{{element.dest}}</a>
        </td>
      </ng-container>
      <ng-container matColumnDef="delete">
        <th mat-header-cell *matHeaderCellDef> Delete </th>
        <td mat-cell *matCellDef="let element">
          <button mat-raised-button color="primary" (click)="deleteLink(element.source)">Delete</button>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
</div>